.card {
  padding: 15px;
  width: 80%;

  .wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;

    .group {
      display: flex;
      flex-direction: row;
      gap: 15px;
      width: 100%;

      svg {
        margin: 0 5px;
      }
    }


  }
  .cardGroup {
    margin: 15px auto auto;
    width: 95%;

  }

}

.equipmentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;

  h2 {
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
}

.equipmentGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin: 10px;
  width: 95%;

  .select {
    max-width: 40%;
    min-width: 30%;
  }

  .textArea {
    max-width: 40%;
    min-width: 30%;
  }

  .countText {
    max-width: 20%;
    min-width: 20%;
  }
}

