# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Backend - Deploy on VPS

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      working-directory: backend
      run: npm install

    - name: Build project
      working-directory: backend
      env:
        POSTGRES_PRISMA_URL: ${{ secrets.POSTGRES_PRISMA_URL }}
        POSTGRES_URL_NON_POOLING: ${{ secrets.POSTGRES_URL_NON_POOLING }}
      run: npm run build

    - name: Restart pm2
      working-directory: backend
      run: npm run restart:server

